*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    margin-left: 9%;
}
header{
   margin:20px 0 0 ;
   
}
.head{
    align-self: center;
    align-content: center;
    display: inline-flex;
    /* border: 1px solid black; */
    width: 1300px;
    height: 40px;
 
}
.image{
    padding-top: 10px;
    color:rgb(4, 4, 249);
}
.name{
    padding-top: 10px;
    font-weight:550;
}
.menu{
    padding-top: 10px;
    display: inline-flex;
    margin-left: 20%
}
.menu ul{
    margin-right: 25px;
}
.button{
    display: inline-flex;
    margin-left:20.1%;
}
.register{
    width: 100px;
    background-color: white;
    border:1.6px solid rgba(0, 0, 255, 0.642);
    color: rgba(0, 0, 255, 0.642);
    border-radius: 7px;
    font-weight: 550;
}
.sing-in{
    margin-left: 10px;
    width: 80px;
    background-color:rgba(0, 0, 255, 0.81);
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 550;    
}
.register:hover{
background-color:  rgba(0, 0, 255, 0.642);
color:white;
}
.sing-in:hover{
background-color:white;
color: rgba(0, 0, 255, 0.642);
border:1.6px solid rgba(0, 0, 255, 0.642)
}
.body {
    background-image:linear-gradient(to bottom, rgba(114, 113, 113, 0.503), rgba(41, 40, 40, 0.499)),url("banner-image-2.jpeg");
    height: 500px;
    width: 1250px;
    background-size: cover;
    border-radius:8px;
    margin-top: 30px;
}
.banner-dis{
    text-align: center;
    color:white;
    padding-top:150px ;
    font-size: 20px;
}
.banner-dis p{
    padding-top: 20px;
}

.info-box{
    padding: 8px;
    width:850px;
    background-color: white;
    border-radius: 7px;
    position: relative;
    left:12%;
    bottom:20px;
    display: inline-flex;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(192, 190, 190);
}
.info-box button{
    padding-top: 4px;
    padding-left: 8px;
    border: 0;
    border-radius: 4px;
    display:inline-flex;
    margin-right: 20px;
    height: 35px;
}
button p{
    padding-top: 5px;
    padding-left: 5px;
}
.location{
    width: 200px;
    display: inline-flex;
    text-align: center;
}
.in_date{
    width: 150px;
    display: inline-flex;
    text-align: center;
}
.out_date{
    width: 150px;
    display: inline-flex;
    text-align:center;
    
}
.guests{
    width: 120px;
    display: inline-flex;
    text-align:center;
}
.serch-b{
    width: 120px;
    background-color: rgba(0, 0, 255, 0.642);
    color: white;
    padding-left: 100px;
    font-weight: 400;
}
.serch-b:hover{
    color:  rgba(0, 0, 255, 0.642);
    background-color: white;
    border:1px solid blue;
}

.serch{
    padding-left: 30px;
}
.info-box span{
    color:rgb(111, 111, 111);
}

.covid-box{
    width: 1210px;
    /* height: 40px; */
    margin-top: 30px;
    background-color: rgba(255, 227, 157, 0.686);
    display: inline-flex;
    border-radius: 8px;
    padding: 18px 20px;
    font-size: 13px;
}
.covid-box p{
    margin: 5px 8px;
    font-size: 15px;
}

.covid-box span{
    color: rgb(59, 59, 59);
}
.covid-box a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.64);
    font-weight: 500;
}


.product{
    margin-top: 50px;
}

.Vaction {
    padding-bottom: 22px;
}
.product p{
    margin-bottom: 50px;
}

.destination{
    display: inline-flex;
}
.destination img{
    margin-right: 15px;
    border-radius: 10px;
}
.destination p{
    font-size: 13px;
    padding-top: 8px;
}


.next-teip_img{
    display: inline-flex;
    color: white;
    text-shadow: 5px 5px 10px rgb(6, 6, 6);
    margin-top: 23px;
}
.info{
    position: relative;
    bottom: 90px;;
}
.next-teip_img img{
    margin-right: 9px;
    border-radius: 8px;
}
.info{
    padding-left: 14px;
}
.Hotel-dis{
    position: relative;
    bottom: 70px
}

.Hotels_img{
    display: inline-flex;
    margin-top: 20px;
}
.Hotels_img img{
    margin-right: 42px;  
    border-radius: 8px;  
}
.low-banner{
    background-image: url("sea.jpg");
    height:200px;
    width: 1130px;
    background-size: cover;
    position: relative;
    bottom: 50px;
    border-radius: 8px;
    color: white;
    padding: 120px 60px;
    text-shadow: 5px 5px 10px rgb(177, 176, 176);
}
.low-banner button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 0, 255, 0.642);
    color: white;
    font-size: 13px;
}
.low-dis{
    text-align: center;
}
.low-dis a{
    text-decoration: none;
    color: blue;
    padding-top: 10px;
    font-size: 13px;
}
footer{
    display: inline-flex;
}
.foot-logo{
    display: inline-flex; 

}
.footer-bio {
    margin-top: 100px;
}
.footer-bio p{
    padding: 0;
    margin: 0px;
   
}
.foot-dis{
    margin-top: 8px;
    font-size: 13px;
}
.foot-menu{
    margin-top: 92px;
    display: inline-flex;
     margin-left: 30px;
}
.foot-menu ul {
    margin-left: 54px;
    font-size: 13px;
    margin-top: 8px;

}
.foot-menu h3{
    font-size: 16px;
    margin-left: 48px;

}
.foot-menu a{
    text-decoration: none;
}

.foot-copyright{
    margin-top: 30px;
    display: flex;
    justify-content: end;
    width: 1400px;
    height: 30px;
    position: relative;
    padding:12px 100px 0 0;
    right:9.3%;
    background-color: rgb(232, 232, 232);
    font-size: 13px;
   
}
